.home-container{
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.profile-bg-container{
  background-color: #f3f3f5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.heading{
  padding: 10px;
}

.profile-container{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 0;
  
}
.profile{
  border-radius: 50%;
}
.dotted-line{
  border-top: 2px dotted #ccc;
  margin: 1px;
}
.dotted-line2{
  border-top: 2px dotted #ccc;
  margin-bottom: 35px;
}
@media (min-width : 768px){
  .home-container{
    width: 450px;
  }
}
.profile-first-div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f3f3f5;
  max-height: 90vh;
}